@use '../base/fonts';

// Mapbox GL JS custom styles
.location-marker {
  background-repeat: no-repeat;
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  max-width: 250px !important;
}

.mapboxgl-popup-content {
  box-shadow: 0 1px 40px rgb(0 0 0 / 10%) !important;
  padding: 25px 20px !important;

  p {
    font-family: fonts.$font-primary;
    margin: 15px 0;
  }
}  

.mapboxgl-popup-close-button {
  color: var(--color-blue-dark);
  font-size: 30px;
  max-height: 32px;
  max-width: 30px;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;


  &:hover {
    background-color: none !important;
    color: var(--color-blue-dark-darker) !important;
  }
}
