@use '../../styles/base/fonts'; 

.home {

  &__container {
    background-image: url('../../public/clouds.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;  
    justify-content: center;

    &:before {
      background-color: var(--color-black);
      content: '';
      display: block;
      height: 100vh;
      left: 0;
      opacity: 0.55;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    &--title {
      color: var(--color-white);

      > span {
        display: block;
        font-family: fonts.$font-secondary;
        font-size: 24px;
        line-height: 30px;
        padding-top: 2rem;
      }
    }

    &--subtitle {
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    width: 240px;

    > a {
      display: flex;
      justify-content: center;
      max-width: 110px;
    }
  }
}