@import '../../styles/base/fonts';

.trip-card {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 0 80px 0 rgba(221, 221, 221, 0.55);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;

  &:hover {
    box-shadow: 8px 0px 35px -4px rgba(74, 74, 74, 0.25);
    cursor: pointer;
    transform: translateY(-8px);
  }

  &__thumbnail {
    border-radius: 8px 8px 0 0;
  }

  &__details {
    padding: 24px;

    > p {
      font-family: $font-primary;
    }

    &--unit-name {
      margin-bottom: 8px;
    }

    &--checkin-date {
      font-size: 14px;
      line-height: 23px;

      > span {
        font-family: $font-primary-medium;
        font-weight: 700;
      }
    }
  }

  &__unit-style-pill {
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: var(--color-white);
    display: inline-block;
    margin-bottom: 16px;
    padding: 6px 12px;

    &.beach {
      background-color: var(--aqua-accent);
    }

    &.lifestyle {
      background-color: var(--pink-accent);
    }

    &.metropolitan {
      background-color: var(--lavender-accent);
    }

    &.mountain {
      background-color: var(--violet-accent);
    }
  }
}