.map {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    padding: 3rem 3rem 1rem;
    text-align: center;
  }

  &__subtitle {
    color: var(--color-gray-dark);
    padding: 0 3rem 2rem;
    text-align: center;
  }

  &__container {
    height: 80vh;
    margin: auto;
    width: 95%;
  }

  &__home-back-link {
    padding-top: 2rem;
    text-align: center;
  }
}