@import '../../styles/utils/media-queries'; 

.map {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    padding: 2rem;
    text-align: center;

    @include respond_to(tablet-and-larger) {
      padding: 3rem 3rem 2rem;
    }

    > p {
      color: var(--color-gray-dark);
      padding-top: 1rem;
    }
  }

  &__container {
    height: 75vh;
    margin: auto;
    width: 95%;
  }

  &__home-back-link {
    padding-top: 2rem;
    text-align: center;
  }
}