@import '../../../styles/utils/media-queries'; 

.destinations {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  &__title {
    padding: 2rem;
    text-align: center;

    @include respond_to(tablet-and-larger) {
      padding: 3rem 3rem 2rem;
    }

    > p {
      color: var(--color-gray-dark);
      padding-top: 1rem;
    }
  }

  &__photos-container {
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 100px;
    padding: 0 20px;

    @include respond_to(mobile-large-and-larger) {
      padding: 0 60px;
    }  

    @include respond_to(desktop) {
      padding: 0;
    }
  }

  &__photo {
    margin-bottom: 10px;
    position: relative;

    &:hover {
      .destinations__photo--description {
        opacity: 1;
        visibility: visible;
      }
    }

    &--description {
      background-color:rgba(0, 0, 0, .55);
      bottom: 0;
      left: 0;
      opacity: 0;
      padding: 20px;
      position: absolute;
      right: 0;
      text-align: center;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      visibility: hidden;
      z-index: 1;

      > p {
        color: var(--color-white);
      }
    }
  }

  &__masonry-grid {
    display: flex;
    width: auto;

    &-column {
      padding: 0 5px; // gutter size
    }
  }

  &__actions-button {
    margin-top: 40px;
    text-align: center;
  }
}