@import '../../styles/utils/css-grids';
@import '../../styles/utils/media-queries';

.trips {
  padding: 2rem;

  @include respond_to(tablet-and-larger) {
    padding: 3rem 6rem;
  }
  
  &__list {
    width: 100%;

    @supports (display: grid) {
      @include thirds-grid(auto-fill, stretch, 30px, 30px, 300px); // minimum card width is 300px
    }
  }
}